.hero{
    width: 100vw;
    height: 500px;
    background-color: rgb(180, 201, 207);
}

.left_side{
width: 45%;
height: 400px;
align-items: center;
justify-content: center;
}

.right_side{
    width: 55%;
    height: 400px;
    margin-top: 50px;
    margin-left: 80px;
}
.left_side > .btn{
    width: 60% !important;
}

.card{
    width: 200px;
    height: 300px;
    background-color: whitesmoke;
}

.box{

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    text-align: center;
    margin-left: 15%;
    
}

.form{
    margin-top:50px;
    box-shadow: 2px 2px 4px black;
    padding-top:20px;
    padding-left: 20px;
    color:white;
    height: 245px;
    width: 350px;
    border-radius: 20px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-Q_p8QNi9PgekwfTcMPxxnv9QPo9Wfg11Sw&usqp=CAU');
}
a{
    color:white;
}
a:hover {
color:rgb(255, 42, 0);
border: 5px solid rgb(25, 199, 9);
border-radius: 20px;
box-shadow: 2px 2px 4px black;
}

